<div id="top-row" class="row mt-3">
    <div id="top-row-left" class=" col-12 col-sm-3">
        <div class="d-none d-sm-block px-0 bg-white">
            <div id="tag-1">
                <p class="font-weight-bold text-white text-center chinh-p">
                    Danh mục sản phẩm
                </p>
            </div>

            <div class="top-left-scroll">
                {{#each book}}
                <div class="">
                    <a href="/category/{{this}}" class="tag-left">
                        <p class="my-0">{{this}}</p>
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
                {{/each}}
            </div>
            <div class="fs-6 text-secondary justify-content-around row py-1 my-2 color-change-father mx-0">
                <i class="fas fa-angle-double-down col-3 text-center color-change"></i>
                <i class="fas fa-angle-double-down col-3 text-center color-change"></i>
                <i class="fas fa-angle-double-down col-3 text-center color-change"></i>
            </div>
        </div>
    </div>


    <!--
    <div id="top-row-right" class="position-relative">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="img-fluid">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div id="caption" class="text-white position-absolute fs-3 top-50 end-50 fst-italic w-100 h-100 text-center">
            
        </div>
    </div>
    -->

    <div class="col-12 col-sm-6 px-4">
        <div id="carouselExampleIndicators" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="w-100 h-100 position-relative rounded">
                        <img src="https://demo.hasthemes.com/fastbuy-preview/fastbuy/assets/images/slider/3_2.jpg"
                            class="img-fluid">
                        <div class="order-last position-absolute show-info-bottom"
                            style="transform: translateY(50%); left: 15%">
                            <p class="fw-bold text-white fs-1 position-relative show-info-right">
                                Big Sale
                            </p>
                            <p class="fw-bolder text-white fs-3 position-relative show-info-left">
                                Up to 50%
                            </p>
                            <button class="btn bg-white doi-mau-1" type="button">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="w-100 h-100 position-relative rounded">
                        <img src="https://demo.hasthemes.com/fastbuy-preview/fastbuy/assets/images/slider/3_1.jpg"
                            class="img-fluid">
                        <div class="order-last position-absolute middle show-info-top"
                            style="transform: translateY(-50%); left: 10%">
                            <p class="fw-bold text-white fs-1 position-relative show-info-left">
                                Flash Sale 30%
                            </p>
                            <p class="fw-bolder text-white fs-3 position-relative show-info-right">
                                Apply all books
                            </p>
                            <button class="btn bg-white doi-mau-1" type="button">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-2 d-flex justify-content-center">
                <a class="doi-mau fs-6 d-flex flex-column me-3" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="far fa-arrow-alt-circle-left fs-4" aria-hidden="true"></span>
                    <span class="visually">Prev</span>
                </a>
                <a class="doi-mau fs-6 d-flex flex-column" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="far fa-arrow-alt-circle-right fs-4" aria-hidden="true"></span>
                    <span class="visually">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 d-flex d-sm-block flex-row mx-0">
        <div class="container-image mt-2 mt-sm-0 mx-1 mx-sm-0">
            <img class="img-fluid"
                src="https://demo.hasthemes.com/fastbuy-preview/fastbuy/assets/images/banner/3_1.jpg">
            <div class="overlay">
                <div class="text-zoom"></div>
            </div>
        </div>
        <div class="mt-2 container-image mx-1 mx-sm-0">
            <img class="img-fluid"
                src="https://demo.hasthemes.com/fastbuy-preview/fastbuy/assets/images/banner/3_3.jpg">
            <div class="overlay">
                <div class="text-zoom"></div>
            </div>
        </div>
        <div class="mt-2 container-image mx-1 mx-sm-0">
            <img class="img-fluid"
                src="https://demo.hasthemes.com/fastbuy-preview/fastbuy/assets/images/banner/3_2.jpg">
            <div class="overlay">
                <div class="text-zoom"></div>
            </div>
        </div>
    </div>
</div>


<div class="cat-inner bg-white">
    <div class="hook-effect bg-white mt-0">
        <div class="list-group-horizontal list-group d-sm-flex justify-content-center d-block" id="list-tab-effect"
            role="tablist">
            <a class="mx-3 p-2 my-2 cool-hover-effect active" data-bs-toggle="list" href="#list-flash-sale"
                id="list-home-list" role="tab">Flash Sale</a>
            <a class="me-3 p-2 my-2 cool-hover-effect" data-bs-toggle="list" href="#list-kham-pha"
                id="list-profile-list" role="tab">Khám Phá</a>
            <a class="me-3 p-2 my-2 cool-hover-effect" data-bs-toggle="list" href="#list-ranking" role="tab">Top Yêu
                Thích</a>
            <a class="me-3 p-2 my-2 cool-hover-effect" data-bs-toggle="list" href="#list-news" role="tab">More</a>
        </div>
        <div class="tab-content mt-4" id="nav-tabContent">
            <div class="tab-pane fade show active position-relative" id="list-flash-sale" role="tabpanel"
                aria-labelledby="list-home-list">
                <div class="d-flex flex-column flex-sm-row">
                    <div class="position-relative me-sm-4 me-0 mb-sm-0 mb-4">
                        <div class="elementor-image">
                            <a href="#">
                                <img class="img-fluid" style="height: 100%!important"
                                    src="//images.weserv.nl/?url=http://capethemes.com/demo/scroller/minimalist/wp-content/uploads/sites/4/elementor/thumbs/minimal-923194_1920-o9arpre8rl9eeguleo4bo99ondj2h826sshf52pgt0.jpg"
                                    title="minimal-923194_1920" alt="minimal-923194_1920">
                            </a>
                        </div>
                        <h2 class="elementor-heading-title-top ">
                            <a href="#" class="h2 text-white elementor-size-default">Interior</a>
                        </h2>
                    </div>
                    <div class="">
                        <div class="d-flex">
                            <div class="position-relative me-4">
                                <div class="elementor-image"> <a href="#"> <img class="img-fluid"
                                            src="//images.weserv.nl/?url=http://capethemes.com/demo/scroller/minimalist/wp-content/uploads/sites/4/elementor/thumbs/portrait-3113651_1920-o9arofge5sc3wi9juruk5nt3pklra39ogi043ex7xg.jpg"
                                            title="portrait-3113651_1920" alt="portrait-3113651_1920"> </a></div>
                                <h2 class="elementor-heading-title-bottom"><a href="#"
                                        class="h2 text-white elementor-size-default">People</a></h2>
                            </div>
                            <div class="position-relative">
                                <div class="elementor-image"> <a href="#"> <img class="img-fluid"
                                            src="//images.weserv.nl/?url=http://capethemes.com/demo/scroller/minimalist/wp-content/uploads/sites/4/elementor/thumbs/golden-gate-bridge-1081782_1920-o9aroar77m5oaggdm7tfb6zsqn8x7lr0ruqop146sk.jpg"
                                            title="golden-gate-bridge-1081782_1920"
                                            alt="golden-gate-bridge-1081782_1920"> </a></div>
                                <h2 class="elementor-heading-title-bottom"><a href="#"
                                        class="h2 text-white elementor-size-default">Travel</a></h2>
                            </div>
                        </div>
                        <div class="position-relative mt-4">
                            <div class="elementor-image"> <a href="#"> <img class="img-fluid"
                                        src="//images.weserv.nl/?url=http://capethemes.com/demo/scroller/minimalist/wp-content/uploads/sites/4/elementor/thumbs/chair-1845270_1920-o9arpixp22w65uwg7gajt7hi6r6kuve68ioby04l4w.jpg"
                                        title="chair-1845270_1920" alt="chair-1845270_1920"> </a></div>
                            <h2 class="elementor-heading-title-bottom"><a href="#"
                                    class="h2 text-white elementor-size-default">Lifestyle</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-kham-pha" aria-labelledby="list-home-list" role="tabpanel">
                <div class="bg-white">
                    <div class="row justify-content-sm-evenly justify-content-center">
                        <div class="col-md-4 col-11 text-center my-3 my-sm-0">
                            <img class="img-fluid"
                                src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2021/350X415.jpg">
                        </div>
                        <div class="col-md-7 col-11 d-flex align-items-center flex-column">
                            <div class="d-flex justify-content-center order-2 my-4">
                                <div class="mx-3" type="button" data-bs-target="#carouselExample-1"
                                    data-bs-slide="prev">
                                    <i class="fas fa-angle-left fa-lg adcent-button p-2 rounded"></i>
                                </div>
                                <div class="mx-3" type="button" data-bs-target="#carouselExample-1"
                                    data-bs-slide="next">
                                    <i class="fas fa-angle-right fa-lg adcent-button p-2 rounded"></i>
                                </div>
                            </div>
                            <div id="carouselExample-1" class="carousel slide carousel order-1" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="d-block" style="white-space: nowrap; overflow:auto;">
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c1d">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/514A0lCnIFL.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c1d">The Barefoot
                                                        Investor</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Scott Pape</div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Paperback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>14.06</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small>17.6</span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c21">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/61eCT8%2By9bL.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c21">Man's Search For
                                                        Meaning</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Viktor E. Frankl
                                                </div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Paperback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>9.66</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small></span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c22">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/61%2B6OwlIB3L.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c22">Daring Greatly</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Brene Brown</div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Paperback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>9.6</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small>12.4</span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c28">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/51Au42vb49L.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c28">Factfulness</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Hans Rosling</div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Hardback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>11.82</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small>18</span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block" style="white-space: nowrap; overflow:auto;">
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c1d">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/514A0lCnIFL.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c1d">The Barefoot
                                                        Investor</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Scott Pape</div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Paperback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>14.06</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small>17.6</span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c21">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/61eCT8%2By9bL.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c21">Man's Search For
                                                        Meaning</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Viktor E. Frankl
                                                </div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Paperback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>9.66</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small></span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c22">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/61%2B6OwlIB3L.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c22">Daring Greatly</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Brene Brown</div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Paperback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>9.6</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small>12.4</span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c28">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/51Au42vb49L.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c28">Factfulness</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Hans Rosling</div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Hardback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>11.82</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small>18</span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block" style="white-space: nowrap; overflow:auto;">
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c1d">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/514A0lCnIFL.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c1d">The Barefoot
                                                        Investor</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Scott Pape</div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Paperback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>14.06</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small>17.6</span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c21">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/61eCT8%2By9bL.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c21">Man's Search For
                                                        Meaning</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Viktor E. Frankl
                                                </div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Paperback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>9.66</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small></span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c22">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/61%2B6OwlIB3L.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c22">Daring Greatly</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Brene Brown</div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Paperback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>9.6</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small>12.4</span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <div class="row-image-1">
                                                <a href="/books/60adebd22b88533298eb8c28">
                                                    <img class="mem-img-new rounded"
                                                        src="//images.weserv.nl/?url=http://ecx.images-amazon.com/images/I/51Au42vb49L.jpg">
                                                </a>
                                                <p class="mem-text ten-sach mt-2">
                                                    <a href="/books/60adebd22b88533298eb8c28">Factfulness</a>
                                                </p>
                                                <div class="mem-text ten-tac-gia text-capitalize">Hans Rosling</div>
                                                <div class="mem-text ten-tac-gia text-capitalize">
                                                    <small>
                                                        Business-Finance-Law
                                                    </small>
                                                </div>
                                                <div class="mem-text hinh-thuc text-capitalize">
                                                    <small>
                                                        Hardback
                                                    </small>
                                                </div>
                                                <div id="gia" class="gia-sach d-flex">
                                                    <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                                        <small style="font-size: 0.9rem;">$</small>11.82</span>
                                                    <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                                        <small style="font-size: 0.8rem;">$</small>18</span>
                                                </div>
                                                <div class="star-container"><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star"
                                                        style="color: #011589"></i><i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-ranking" aria-labelledby="list-home-list" role="tabpanel">
                <div class="row">
                    <div class="col-md-4 col-12 p-3">
                        <div class="list-group p-2" id="list-tab-4" role="tablist">
                            <a class="active" id="list-top-1-list" data-bs-toggle="list" href="#list-top-1" role="tab"
                                aria-controls="home">
                                <div id="top-1" class="ranking-cell">
                                    <div class="align-self-center">
                                        <p>01</p>
                                    </div>
                                    <img class="mem-img-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_20543_thanh_ly.jpg">

                                    <div class="">
                                        <p>Dế Mèn Phiêu Lưu Ký</p>
                                        <small class="text-info d-block">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                    </div>
                                </div>
                            </a>
                            <a class="" id="list-top-2-list" data-bs-toggle="list" href="#list-top-2" role="tab"
                                aria-controls="profile">
                                <div id="top-2" class="ranking-cell">
                                    <div class=" align-self-center">
                                        <p>02</p>
                                    </div>
                                    <img class="mem-img-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_17206.jpg">

                                    <div class="">
                                        <p>Nhà Giả Kim</p>
                                        <small class="text-info d-block">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                    </div>
                                </div>
                            </a>
                            <a class="" id="list-top-3-list" data-bs-toggle="list" href="#list-top-3" role="tab"
                                aria-controls="messages">
                                <div id="top-3" class="ranking-cell">
                                    <div class="align-self-center">
                                        <p>03</p>
                                    </div>
                                    <img class="mem-img-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_20543_thanh_ly.jpg">

                                    <div class="">
                                        <p>Gió đầu mùa</p>
                                        <small class="text-info d-block">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                    </div>
                                </div>
                            </a>
                            <a class="" id="list-top-4-list" data-bs-toggle="list" href="#list-top-4" role="tab"
                                aria-controls="home">
                                <div id="top-4" class="ranking-cell">
                                    <div class="align-self-center">
                                        <p>04</p>
                                    </div>
                                    <img class="mem-img-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_20543_thanh_ly.jpg">

                                    <div class="">
                                        <p>Làm bạn với bầu trời</p>
                                        <small class="text-info d-block">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                    </div>
                                </div>
                            </a>
                            <a class="" id="list-top-5-list" data-bs-toggle="list" href="#list-top-5" role="tab"
                                aria-controls="home">
                                <div id="top-5" class="ranking-cell">
                                    <div class="align-self-center">
                                        <p>05</p>
                                    </div>
                                    <img class="mem-img-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_228267.jpg">
                                    <div class="">
                                        <p>Nếu biết trăm năm là hữu hạn</p>
                                        <small class="text-info d-block">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="detail-1" class="col-md-8 col-12">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="list-top-1" role="tabpanel"
                                aria-labelledby="list-home-list">
                                <div class="ranking-cell-right" style="margin: 10px 0; ">
                                    <img class="mem-img-4 align-self-start col-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_20543_thanh_ly.jpg">
                                    <div class="rank-text align-self-start">
                                        <h4>Dế Mèn Phiêu Lưu Ký</h4>
                                        <small class="text-info">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                        <p>TỪ ĐIỂN TIẾNG “EM” – Định nghĩa về thế giới mới!
                                            <br>
                                            Bạn sẽ bất ngờ, khi cầm cuốn “từ điển” xinh xinh
                                            này trên tay.
                                            <br>
                                            Và sẽ còn ngạc nhiên hơn nữa, khi bắt đầu đọc
                                            từng trang sách…
                                            <br>
                                            Dĩ nhiên là vì “Từ điển tiếng “Em” không phải là
                                            một cuốn từ
                                            điển thông thường rồi!
                                            <br>
                                            Nói đến “từ điển”, xưa nay chúng ta đều nghĩ về
                                            một bộ sách đồ
                                            sộ, giải thích ý nghĩa, cách dùng, dịch, cách
                                            phát âm, và thường
                                            kèm theo các ví dụ về cách sử dụng từ đó.
                                            <br>
                                            Tuy nhiên, với cuốn sách “Từ điển tiếng “em”,
                                            các...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-top-2" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="ranking-cell-right" style="margin: 10px 0;">
                                    <img class="mem-img-4 align-self-start col-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_20543_thanh_ly.jpg">

                                    <div class="rank-text align-self-start">
                                        <h4>Nhà Giả Kim</h4>
                                        <small class="text-info">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                        <p>Tô Bình Yên Vẽ Hạnh Phúc
                                            <br>
                                            Sau thành công của cuốn sách đầu tay “Phải lòng
                                            với cô đơn”
                                            chàng họa sĩ nổi tiếng và tài năng Kulzsc đã trở
                                            lại với một
                                            cuốn sách vô cùng đặc biệt mang tên: "Tô bình
                                            yên - vẽ hạnh
                                            phúc” – sắc nét phong cách cá nhân với một chút
                                            “thơ thẩn, rất
                                            hiền”.
                                            <br>
                                            Không giống với những cuốn sách chỉ để đọc, “Tô
                                            bình yên – vẽ
                                            hạnh phúc” là một cuốn sách mà độc giả vừa tìm
                                            được “Hạnh phúc
                                            to to từ những điều nho nhỏ” vừa được thực hành
                                            ngay lập tức.
                                            Một sự kết hợp mới lạ đầy thú vị giữa thể loại
                                            sách tản văn và
                                            sách t&o...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-top-3" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="ranking-cell-right" style="margin: 10px 0;">
                                    <img class="mem-img-4 align-self-start col-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_20543_thanh_ly.jpg">

                                    <div class="rank-text align-self-start">
                                        <h4>Gió đầu mùa</h4>
                                        <small class="text-info">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                        <p>Cuộc đời ngày ngày nói yêu mình.
                                            <br>
                                            Xong cuộc đời lại đủ thứ phức tạp và bất công
                                            với mình.
                                            Vậy là cuộc đời ghét mình rồi!
                                            <br>
                                            Thôi nào!
                                            <br>
                                            Thả lỏng và tận hưởng sự vui vẻ đi. Vì
                                            chẳng phải
                                            cuộc đời đang ghét bạn đâu, mà chính bạn
                                            bạn đang loay
                                            hoay với những mệt nhọc ở trên đời. Ví
                                            dụ như nay đã
                                            là deadline mà bỗng bị rớt mạng, sáng nay
                                            đi làm quên
                                            đem theo ví, hay đồng nghiệp ở công ty nói
                                            xấu mình,...

                                            Nếu kể ra thì sẽ có ti tỉ thứ không theo
                                            ý mình mỗi
                                            ngày. Không nói đến những chuyện bực tức
                                            khác, những
                                            nỗi buồn chúng ta không làm chủ được,
                                            những điều vô
                                            tình đến khiến ta quạu cọ và xấu x...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="list-top-4" role="tabpanel"
                                aria-labelledby="list-home-list">
                                <div class="ranking-cell-right" style="margin: 10px 0;">
                                    <img class="mem-img-4 align-self-start col-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_20543_thanh_ly.jpg">

                                    <div class="rank-text align-self-start">
                                        <h4>Làm bạn với bầu trời</h4>
                                        <small class="text-info">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                        <p>Tất cả những trải nghiệm trong chuyến phiêu du
                                            theo đuổi vận mệnh
                                            của mình đã giúp Santiago thấu hiểu được ý nghĩa
                                            sâu xa nhất của
                                            hạnh phúc, hòa hợp với vũ trụ và con người.
                                            <br>
                                            Tiểu thuyết Nhà giả kim của Paulo Coelho như một
                                            câu chuyện cổ
                                            tích giản dị, nhân ái, giàu chất thơ, thấm đẫm
                                            những minh triết
                                            huyền bí của phương Đông. Trong lần xuất bản đầu
                                            tiên tại Brazil
                                            vào năm 1988, sách chỉ bán được 900 bản. Nhưng,
                                            với số phận đặc
                                            biệt của cuốn sách dành cho toàn nhân loại, vượt
                                            ra ngoài biên
                                            giới quốc gia, Nhà giả kim đã làm rung động hàng
                                            triệu tâm hồn,
                                            trở thành một trong những cuốn sách bán chạy
                                            nhất mọi thời đại,
                                            và có...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-top-5" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="ranking-cell-right" style="margin: 10px 0;">
                                    <img class="mem-img-4 align-self-start col-4"
                                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_20543_thanh_ly.jpg">

                                    <div class="rank-text align-self-start">
                                        <h4>Nếu biết trăm năm là hữu hạn</h4>
                                        <small class="text-info">NXB Giáo Dục</small>
                                        <small class="text-primary">152410 điểm</small>
                                        <p>Đạp Tiên Quân Mặc Nhiên ngự trị thiên hạ suốt
                                            mười năm, khiến Tu
                                            Chân giới máu chảy thành sông, đau thương chồng
                                            chất. Đến khi
                                            nghĩa sĩ khắp nơi tụ họp lại, tấn công lên đỉnh
                                            Tử Sinh hòng ép
                                            Mặc Nhiên thoái vị, thì trước mắt họ chỉ còn thi
                                            thể đã lạnh
                                            băng của hắn.
                                            <br>
                                            Mặc Nhiên sống lại, trở về thời niên thiếu. Lúc
                                            ấy hắn vẫn đang
                                            cùng đường đệ Tiết Mông và Sư Muội - ánh trăng
                                            sáng trong lòng
                                            hắn kiếp trước - theo vị sư phụ thanh cao lạnh
                                            lùng Sở Vãn Ninh
                                            tu tập, xuống núi trừ yêu, đi tìm vũ khí. Song
                                            Mặc Nhiên dần
                                            phát hiện nhiều người cũ chuyện xưa vốn tưởng
                                            vậy mà không phải
                                            vậy…
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="block-2"></div>

<div class="blocks" id="spinner">
    <div class="block orange"></div>
    <div class="block blue"></div>
</div>



<script type="text/javascript" src="./javascript/scrollInfinit.js" lang="javascript"></script>
