<div class="email-form row align-items-center" id="email-cell">
    <h5 class="text-center text-white col-4 col-sm-5 email-text">
        ĐĂNG KÍ NHẬN BẢN TIN
    </h5>

    <form action="#" method="" class="col-8 col-sm-7">
        <div class="">
            <input class="h-100 py-3 w-75 over-view" type="email" placeholder="Nhập địa chỉ email của bạn" name="email">
            <button class="email-button btn btn-warning text-white" type="">Đăng Ký</button>
        </div>
    </form>

</div>

<div id="information-end" class="row bg-white mt-lg-3 pt-lg-4 mt-3">
    <div id="address" class="col-lg-4 col-xs-12">
        <img id="brand-img" class="mem-img" src="./image/logo.png" alt="web-logo">

        <p class="m-2 text-secondary fw-bolder"> Nguyễn Đức Hùng </p>

        <div class="d-flex justify-content-evenly mt-3">
            <a href="https://www.facebook.com/profile.php?id=100015769656194">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-pinterest fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-8 col-xs-12 mt-3 mx-0" id="info-company">
        <div class="row">
            <div class="col-4">
                <h6>DỊCH VỤ</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu King Book</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
            <div class="col-4">
                <h6>ĐỔI TRẢ - BẢO HÀNH</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu King Book</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
            <div class="col-4">
                <h6>TÀI KHOẢN CỦA TÔI</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu King Book</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
        </div>
        <div class="row">
            <h6 class="col-9">Liên Hệ</h6>
        </div>
        <div class="row">
            <p class="col"><i class="fas fa-map-marker-alt"></i> 60-62 Lê Lợi, Q.1, TP. HCM</p>
            <p class="col"><i class="fas fa-envelope"></i> nguyenduchung1372@gmail.com</p>
            <p class="col"><i class="fas fa-phone"></i> 0124845411</p>
        </div>
        <div class="d-flex justify-content-between">
            <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/ahamove_logo.png" class="mem-img-4-2">
            <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/icon_giao_hang_nhanh.png" class="mem-img-4-2">
            <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/icon_snappy.png" class="mem-img-4-2">
        </div>
    </div>
    <div class="bg-white col-12 text-center">
        <small>
            Giấy chứng nhận kinh doanh...
        </small>
    </div>
</div>