<div class="home-bg-color px-2 py-2 d-sm-none d-block" id="mobile-footer">
    <div class="w-50 mx-auto">
        <a class='px-lg-5' href='/home'>
            <img id="brand-img-small" class="img-fluid" src="./image/logo.png" alt="web-logo">
        </a>
    </div>

    <hr class="d-md-none">

    <div class="d-flex justify-content-around align-items-center mt-3">
        <p data-bs-toggle="collapse" data-bs-target="#contact-info" class="text-center adcent-color "
            aria-controls="contact-info" aria-expanded="true" aria-label="Toggle navigation">
            Thông tin <i class="fas fa-angle-down ms-1 color-change"></i>
        </p>

        <p data-bs-toggle="collapse" data-bs-target="#contact-icon" class="text-center adcent-color "
            aria-controls="contact-icon" aria-expanded="true" aria-label="Toggle navigation">
            Liên Hệ <i class="fas fa-angle-down ms-1 color-change"></i>
        </p>
        <p data-bs-toggle="collapse" data-bs-target="#contact-connect" class="text-center adcent-color "
            aria-controls="contact-icon" aria-expanded="true" aria-label="Toggle navigation">
            Đối Tác <i class="fas fa-angle-down ms-1 color-change"></i>
        </p>
    </div>
    <div class="text-center">
        <small>
            Giấy chứng nhận kinh doanh số ...
        </small>
    </div>

    <div class="collapse home-bg-color my-2" id="contact-icon">
        <div class="d-flex justify-content-evenly">
            <a href="#">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a href="#">
                <i class="fab fa-youtube fa-lg"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="#">
                <i class="fab fa-pinterest fa-lg"></i>
            </a>
        </div>
    </div>


    <div class="collapse home-bg-color my-2" id="contact-connect">
        <div class="row mx-2">
            <div class="col p-2">
                <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/ahamove_logo.png" class="img-fluid">
            </div>
            <div class="col p-2">
                <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/icon_giao_hang_nhanh.png" class="img-fluid">
            </div>
            <div class="col p-2">
                <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/icon_snappy.png" class="img-fluid">
            </div>
        </div>
    </div>


    <div class="home-bg-color my-2 p-2 collapse" id="contact-info">
        <div class="d-flex justify-content-around">
            <div class="mx-3">
                <h6 class="text-secondary fw-bolder">DỊCH VỤ</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu King Book</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
            <div class="mx-3">
                <h6 class="text-secondary fw-bolder">ĐỔI TRẢ - BẢO HÀNH</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu King Book</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
            <div class="mx-3">
                <h6 class="text-secondary fw-bolder">TÀI KHOẢN CỦA TÔI</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu King Book</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
        </div>
        <div class="row">
            <p class="col-lg col-12"><i class="fas fa-map-marker-alt"></i> 60-62 Lê Lợi, Q.1, TP. HCM</p>
            <p class="col-lg col-12" style="word-wrap: break-word"><i class="fas fa-envelope"></i>
                nguyenduchung1372@gmail.com</p>
            <p class="col-lg col-12"><i class="fas fa-phone"></i> 0124845411</p>
        </div>
    </div>
</div>

<div class="d-none d-sm-flex row bg-white mt-lg-3 pt-lg-4 mt-3 px-2 mx-0">
    <div class="col-sm-4 col-12">
        <img class="mem-img" src="./image/logo.png" alt="web-logo">
        <div class="d-flex justify-content-evenly mt-3">
            <a href="#">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-pinterest fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-8 col-12 mt-3" id="info-company">
        <div class="row">
            <div class="col-4">
                <h6 class="text-secondary fw-bolder">DỊCH VỤ</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu King Book</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
            <div class="col-4">
                <h6 class="text-secondary fw-bolder">ĐỔI TRẢ - BẢO HÀNH</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu King Book</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
            <div class="col-4">
                <h6 class="text-secondary fw-bolder">TÀI KHOẢN CỦA TÔI</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu King Book</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
        </div>
        <div class="row">
            <h6 class="col-9 text-secondary fw-bolder">Liên Hệ</h6>
        </div>
        <div class="row">
            <p class="col-lg-4 col-12"><i class="fas fa-map-marker-alt"></i> 60-62 Lê Lợi, Q.1, TP. HCM</p>
            <p class="col-lg-4 col-12" style="word-wrap: break-word"><i class="fas fa-envelope"></i>
                nguyenduchung1372@gmail.com</p>
            <p class="col-lg-3 col-12"><i class="fas fa-phone"></i> 0124845411</p>
        </div>
        <div class="row mx-2">
            <div class="col p-2">
                <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/ahamove_logo.png" class="img-fluid">
            </div>
            <div class="col p-2">
                <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/icon_giao_hang_nhanh.png" class="img-fluid">
            </div>
            <div class="col p-2">
                <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/icon_snappy.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="bg-white col-12 text-center">
        <small>
            Giấy chứng nhận kinh doanh...
        </small>
    </div>
</div>
